.xxs {
  font-size: var(--caption-1-font-size);
}

.xs {
  font-size: var(--caption-font-size);
}

.sm {
  font-size: var(--body-font-size);
  line-height: 1.5;
  letter-spacing: 0.067em;
}

.md {
  font-size: var(--body-2-font-size);
  font-weight: 500;
}

.lg {
  font-size: var(--sub-header-font-size);
  font-weight: 700;
}

.xlg {
  font-size: var(--title-font-size);
  font-weight: 700;
  letter-spacing: 0.107em;
}

.xxlg {
  font-size: var(--header-font-size);
  font-weight: 500;
}

.secondary {
  opacity: 0.73;
}

.disabled {
  opacity: 0.47;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.inline {
  display: inline;
}
