.xxs {
  font-size: 0.5rem;

}

.xs {
  font-size: 0.725rem;
}

.sm {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.067em;
}

.md {
  font-size: 1.5rem;
  font-weight: 500;
}

.lg {
  font-size: 2.25rem;
  font-weight: 700;
}

.xlg {
  font-size: 3.375rem;
  font-weight: 400;
  letter-spacing: 0.107em;
}

.xxlg {
  font-size: 5.0625rem;
  font-weight: 500;
}

.secondary {
  opacity: 0.73;
}

.disabled {
  opacity: 0.47;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.inline {
  display: inline;
}
