.experienceCard {
  border-radius: 0.9em;
}

[data-theme="dark"] .experienceCard {
  background-color: var(--color-bg-primary);
  border: 1px solid var(--primary);
}

[data-theme="light"] .experienceCard {
  background-color: var(--gray-200);
}

.titleContainer {
  padding: 0.5em;
  display: flex;
  align-items: center;
  color: var(--white);
  border-radius: 0.9em;
}

.titleCollapsible {
  cursor: pointer;
  border: 1px solid var(--primary);
  
}

[data-theme="light"] .titleContainer {
  background-color: var(--primary);
}

.title {
  flex-grow: 1;
}

.titleIcon {
  margin-left: 10px;
  float: right;
}

.subHeader {
  display: flex;
}

.subHeaderIcon {
  display: flex;
  align-items: center;
  padding: 0.2em 0;
}

.subHeaderIcon + .subHeaderIcon {
  margin-left: 1em;
}

.icon {
  color: var(--color-text);
  font-size: 0.725rem;
  margin-right: 0.55em;
}

.bodyCard {
  padding: 1em;
  display: none;
  flex-direction: column;
  gap: 0.8em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.badgeContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}

.visible {
  display: flex;
}
