.iconsCard {
  padding: 2em 1.8em;
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.iconsCardRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.image {
  filter: invert(var(--color-invert-filter));
}

.icon {
  color: var(--color-text);
  font-size: 0.725rem;
}
