.iconsCard {
  padding: 2em 1.8em;
  margin: 1em 0em;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}

.iconsCardRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.image {
  filter: invert(var(--color-invert-filter));
}

.icon {
  color: var(--color-text);
  font-size: 0.725rem;
}

.iconAnimated:hover {
  animation: logo-bounce 1000ms 0s infinite ease-out;
}

.customButton {
  margin: 0;
  padding: 0;
}

@keyframes logo-bounce {
  0% {
    transform: rotate(-4deg);
  }

  20% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg) scale(1.2);
  }
}

