:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --primary: #326DA6;
  --white: #fff;
  --blue-100: #003346;
  --blue-200: #003467;
  --gray-100: #F9FAFB;
  --gray-200: #E9ECEF;
  --gray-300: #DEE2E6;
  --gray-400: #CED4DA;
  --gray-500: #ADB5BD;
  --gray-600: #6C757D;
  --gray-700: #495057;
  --gray-800: #343A40;
  --gray-900: #343A40;
  --gray-1000: #212529;

}

body,
body[data-theme="light"] {
  --color-text: #070606;
  --color-bg-primary: #F9F9F9;
  --opacity-alpha-primary-text: 1;
  --opacity-alpha-secondary-text: 0.77;
  --opacity-alpha-disabled-text: 0.33;
  --color-bg-toggle: #1e90ff;
}

body,
body[data-theme="dark"] {
  --color-text: #FFFFFF;
  --color-bg-primary: #050B21;
  --opacity-alpha-primary-text: 1;
  --opacity-alpha-secondary-text: 0.73;
  --opacity-alpha-disabled-text: 0.47;
  --color-bg-toggle: #a9a9a9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-bg-primary);
  font-size: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
