.button {
  --toggle-width: 1.7em;
  --toggle-height: 0.8em;
  --toggle-padding: 0.130em;
  --toggle-margin: 0.2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1;
  width: var(--toggle-width);
  height: var(--toggle-height);
  padding: var(--toggle-padding);
  border: 0;
  border-radius: calc(var(--toggle-width) / 2);
  cursor: pointer;
  background: var(--primary);
  transition: background 0.25s ease-in-out;
  margin: var(--toggle-margin);
}

.button:focus {
  outline-offset: 5px;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

.button:hover {
  box-shadow: 0 0 5px 2px var(--color-bg-toggle);
}

.toggleThumb {
  position: absolute;
  top: var(--toggle-padding);
  left: var(--toggle-padding);
  width: calc(var(--toggle-height) - (var(--toggle-padding) * 2));
  height: calc(var(--toggle-height) - (var(--toggle-padding) * 2));
  border-radius: 50%;
  background: white;
  transition: transform 0.25s ease-in-out;
}

.isDark {
  transform: translate3d(
    calc(var(--toggle-width) - var(--toggle-height)),
    0,
    0
  );
}
