.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.722em .85em;
}

.row {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--color-bg-primary);
}

.logo:hover {
  animation: logo-rotate 2000ms infinite linear;
}

.navToggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  color: var(--color-text);
  transition: opacity 250ms ease;

  background-color: transparent;
}

.navToggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--color-text);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  width: 0%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 1000ms ease-out;
}

.navVisible {
  visibility: visible;
  height: calc((var(--vh, 1vh) * 100));
  background-color: rgba(var(--color-bg-primary-rgba), .5);
  z-index: 1;
  width: 100%;
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 71px;
}

.navItem {
  padding: 0.415em;
  background: linear-gradient(to right, var(--gray-500) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 500ms ease-out;
  overflow: hidden;
}

.navItem:hover {
  background-position: left bottom;
}

.textItem {
  color: var(--white);
  text-align: center;
}

.textItem:hover {
  transform: scale(1.2);
}

@media (min-width: 745px) {
  .header {
    display: flex;
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .navToggle {
    display: none;
  }

  .navVisible {
    background-color: transparent;
  }

  .nav {
    visibility: visible;
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
    opacity: 1;
  }

  .navList {
    display: flex;
    margin: 0;
    justify-content: center;
  }

  .topRight {
    position: relative;
  }

  .navItem {
    background: transparent;
    background-size: 100%;
  }

  .navItem:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: width 0.5s ease, background-color 0.5s ease;
  }

  .navItem:hover:after {
    width: 100%;
    background: var(--color-text);
  }

  .textItem { 
    color: var(--color-text);
  }

  .textItem:hover {
    transform: scale(1);
  }
}

@keyframes logo-rotate {
  to { transform: rotateY(360deg); }
}
