.titleAbout {
  margin: 0.15em;
  font-size: var(--sub-header-font-size);
}

.subtitleAbout {
  margin: 0.55em;
}

.subtitleAccent {
  color: var(--primary);
}

.iconsContainerSM {
  border-radius: 0.52em;
  background-color: var(--gray-500);
}

.iconsContainer {
  display: none;
  visibility: hidden;
}

@media (min-width: 745px) { 
  .titleAbout {
    font-size: var(--title-font-size);
  }

  .subtitleAbout {
    font-size: var(--sub-header-font-size);
  }
}

@media (min-width: 900px) { 
  .titleAbout {
    font-size: var(--header-font-size);
  }

  .subtitleAbout {
    margin: 1em 0;
  }

  .aboutSection {
    display: flex;
    justify-content: space-between;
  }

  .rightSection {
    width: 65%;
  }

  .sidebar {
    width: 25%;
  }

  .iconsContainerSM {
    display: none;
  }

  .iconsContainer {
    display: flex;
    visibility: visible;
    border-radius: 0.52em;
    background-color: var(--gray-500);
    gap: 2em;
    padding: 2em 2.2em;
  }
}