.container {
  padding: 4em 0;
  text-align: center;
}

.middleText {
  margin: 4em 0;
}

.detail {
    margin: 4em 0;
    padding: 0 2em;
}

.iconsContainer {
  margin: 3em 0;
}

.iconsRow{
  display: flex;
  justify-content: center;
  gap: .55em;
}

@media (min-width: 745px) { 
  .middleText {
    margin: 2em 0 .5em 0;
    font-size: var(--sub-header-font-size);
  }

  .detail {
    margin: 0 auto 4em auto;
    padding: 0 2em;
    width: 50%;
  }
}