.container {
  padding: 5em 0;
  text-align: center;
}

.middleText {
  margin: 4em 0;
}

.detail {
    margin: 4em 0;
    padding: 0 2em;
}

.iconsContainer {
  margin: 3em 0;
}

.iconsRow{
  display: flex;
  justify-content: center;
  gap: .55em;
}