.hero {
  position: relative;
  height: 95vh;
}

.contentSm {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.contentMd {
  display: none;
}

.hr {
  height: 0.25em;
  background-color: var(--color-text);
  margin-top: 25px;
}

.profile {
  display: none;
}

.iconsContainer {
  position: absolute;
  right: 0;
  padding: 18em 0;
  margin:  auto;
}

.iconsRow {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

@media (min-width: 745px) {
  .contentSm {
    display: none;
  }

  .contentMd {
    position: absolute;
    bottom: 100px;
    display: block;
    width: 75%;
  }

  .titleHero {
    margin-bottom: 0.275em;
  }
}

@media (min-width: 900px) {
  .hero {
    display: flex;
    height: auto;
    justify-content: space-between;
  }

  .contentMd {
    position: relative;
    bottom: auto;
    padding: 8em 0;
    width: 55%;
  }

  .titleHero {
    margin-bottom: 0.6em;
  }

  .profile {
    display: inline;
    filter: grayscale(100%);
  }
}
