.nav {
  width: 100%;
  visibility: hidden;
  position: absolute;
  height: auto;
}

.navVisible {
  visibility: visible;
  height: auto;
  position: relative;
}

.navToggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  right: 0;
  background-color: var(--color-bg-primary);
}

.navToggle:focus,
.navToggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navItem {
  padding: 0.415em;
}

@media (min-width: 745px) {
  .navToggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .navList {
    display: flex;
    margin: 0;
  }

  .navItem:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
  }

  .navItem:hover:after {
    width: 100%;
    background: var(--white);
  }
}

