.button {
    cursor: pointer;
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.outline {
    border: 1px solid var(--primary);
}

.sm {
  padding: 0.18em .75em;
  font-size: 0.72rem;
  border-radius: .25em;
}
