.button {
    cursor: pointer;
    border-radius: 0.25em;
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.outline {
    border: 1px solid var(--primary);
}

.sm {
  padding: 0.18em .75em;
  font-size: 0.72rem;
  border-radius: .25em;
}

.md {
  padding: 0.54em 0.76em;
  font-size: 1.13rem;
  font-weight: 500;
}